# IBGE
IBGE_BASE_URL=https://servicodados.ibge.gov.br/api/v1

# CadSUAS
CADSUAS_URL=https://aplicacoes.mds.gov.br/sagi/ri/relatorios/cadsuas

# VIS DATA
VISDATA_URL=https://aplicacoes.mds.gov.br/sagi/vis/data3/data-table.php

# Programa Criança Feliz
CRIANCA_FELIZ_URL=https://aplicacoes.mds.gov.br/sagi/vis/data3/data-table.php

# DATASUS
DATASUS_URL=https://datasus.saude.gov.br/transferencia-de-arquivos

# Dados.gov.br
DADOSGOV_BASE_URL=https://dados.gov.br/api/publico/conjuntos-dados

# App
APP_HOST=0.0.0.0
APP_PORT=8000
APP_DEBUG=true
LOG_LEVEL=INFO
